.img-desigen{
    height: 150px;
    width: 90%; 
    border-radius: 10px;
  margin-top: 10px;
  margin-left: 12px;
}

.card{
    border-radius: 10px;
}

.btn1{
    width: 40%;
    border-radius: 10px 10px;
  
}

.btn2{
    text-decoration: none;
    color:white;
}


